[user]
    name = {{ .name }}
{{- if eq .chezmoi.hostname "work-laptop" }}
    email = {{ .work_email }}
{{- else }}
    email = {{ .email }}
{{- end }}

[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesfile = ~/.config/git/ignore

[pull]
    rebase = false

[color]
    ui = auto
